*,
html {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(foto-lah/Web_Photo_Editor.png);
}
/*  Pilihan Sirkel */

.container-navbar {
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin-top: 5vh;
}
div a {
    text-decoration: none;
    color: #6e5ba0;
    font-size: 4.7vh;
    padding: 15px;
    display:inline-block;
}

  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .a-underline:hover {
    text-decoration: underline;
  }

  ul li {display: inline-block;}
  ul li:hover {
    background: #555;
    }
  ul li:hover ul {display: block;}
  ul li ul {
    position: absolute;
    width: 200px;
    display: none;
  }
  ul li ul li { 
    background: white; 
    display: block; 
  }
  ul li ul li a {display:block !important;} 
  ul li ul li:hover {background: #666;}
/* Pilihar Sirkel End */

/* ISI VIDEO BROOOO */
.isi-konten {
    background-color: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.img-card {
  display: flex;
  width: 15vw;
}

.link1, .link3, .link5, .link7, .link9 {
  background-color: lightblue;
}

.link2, .link4, .link6, .link8, .link10 {
  background-color: rgb(248, 127, 127);
}

.img-card:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
    transition-delay: 0.5ms;
    animation: myAnim 3s ease-in-out 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(1.6);
	}

	100% {
		opacity: 1;
		transform: scale(1.2);
	}
}
/* ISI VIDEO BROOOO End */

/* CLOSE BROW */
p {
    background-color: darkorchid;
    font-size: 4vh;
}
/* CLOSE BROW End*/

